/* Navigation Section */

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: inherit;
}

.logo {
	height: 70px;
}

.content > .links {
	float: right;
}

.links > li {
	display: inline-block;
}

body {
	background-color: white;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;x
}
div {
	border: 1px solid Chocolate;
}